/* Aside Closed */
#interfaces_closed {
  grid-column: 1;
  height: 100%;
  background-color: var(--color-background-panels);
  border-right: 1px solid var(--color-border);
}

#interfaces_closed .action {
  width: 18px;
  height: 18px;
  margin: 10px;
  cursor: pointer;
  filter: brightness(0.6);
  transition: 0.2s;
}
#interfaces_closed .action:hover {
  filter: brightness(1);
}

/* Aside Panel */
#interfaces {
  grid-column: 1;
  height: 100%;
  position: relative;
  background-color: var(--color-background-panels);
  border-right: 1px solid var(--color-border);
}

#interfaces > .container {
  height: 729px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25px repeat(19, 1fr);
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

/* Header */
#interfaces .header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: auto auto;
}
#interfaces .header .title {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 700;
  align-self: center;
}
#interfaces .header .action {
  width: 18px;
  height: 18px;
  justify-self: end;
  align-self: center;
  cursor: pointer;
  filter: brightness(0.6);
  transition: 0.2s;
}
#interfaces .header .action:hover {
  filter: brightness(1);
}

/* Screen Text*/
#screen_text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}

/* Screen Number */
#screen_number {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 700;
}

/* Screen Pixels */
#screen_pixels {
  grid-column: 1 / 4;
  grid-row: 3 / 14;
  box-sizing: border-box;
  transform: rotateX(180deg);
}

#screen_pixels_content {
  height: 368px;
  width: 368px;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  gap: 1px;
  box-sizing: border-box;
}

#screen_pixels_content > div {
  height: 100%;
  width: 100%;
  border-radius: 0.1rem;
  box-sizing: border-box;
}

#screen_pixels_content .pixel-on {
  background-color: var(--color-primary);
}
#screen_pixels_content .pixel-off {
  background-color: var(--color-background-panels);
}

/* Game Pad */
#game_pad {
  grid-column: 1 / 4;
  grid-row: 14 / 21;
}

#game_pad_content {
  width: 100%;
  height: 100%;
  grid-column: 1 / 4;
  grid-row: 14 / 21;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  box-sizing: border-box;
}

#game_pad_content > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  color: var(--color-text);
  background-color: var(--color-background-panels);
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  justify-self: center;
  align-self: center;
  padding: 10px;
}

#key-tl {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}
#key-tr {
  grid-row: 1 / 2;
  grid-column: 6 / 7;
}

#key-left {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
#key-up {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
#key-down {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}
#key-right {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

#key-bl {
  grid-row: 3 / 4;
  grid-column: 7 / 8;
}
#key-br {
  grid-row: 3 / 4;
  grid-column: 9 / 10;
}

.key-pressed {
  background-color: var(--color-primary) !important;
  font-weight: bold;
  transition: all 0.05s ease;
}

#version {
  width: 100%;
  position: absolute;
  bottom: 5px;
  text-align: center;
  font-size: 12px;
  color: var(--color-border);
}

#version a {
  color: var(--color-border);
  text-decoration: underline;
}
