@import 'tailwindcss';

/* Global Styles */
html {
  --color-background: #191919;
  --color-background-panels: #1e1e1e;
  --color-background-card: #292929;

  --color-border: #333333;

  --color-text: #ffffff;
  --color-text-secondary: #727272;

  --color-primary: #2772ff;
  --color-primary-hover: #1856ca;

  --color-secondary: #ffffff;
  --color-secondary-hover: #aaaaaa;

  --color-danger: #ff4242;
  --color-danger-hover: #ca3535;

  --syntax-execution: #e75252;
  --syntax-operations: #f3a149;
  --syntax-memory: #459eec;
  --syntax-control: #6e5bff;
  --syntax-storage: #45eec1;
  --syntax-register: #9f9f9f;
  --syntax-comment: #5c5c5c;
  --syntax-define: #ffb86c;
  --syntax-condition: #ff79c6;
}

/* Scrollbar */
/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 3px;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

/* Selection */
::-moz-selection {
  background-color: var(--color-text-secondary);
  color: var(--color-text);
}
::selection {
  background-color: var(--color-text-secondary);
  color: var(--color-text);
}

/* Body */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
}

/* Root */
#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  box-sizing: border-box;
}

/* Utility Classes */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.card {
  padding: 5px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--color-background-card);
}

.card .content {
  overflow: auto;
}

/* Text Styles */
p {
  margin: 0;
}
p.divider {
  color: var(--color-text-secondary);
}

span.value {
  color: var(--color-text-secondary);
  font-weight: 900;
}
span.filled {
  color: var(--color-primary);
}

/* Button Styles */
button {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

/* Table */
table {
  width: 100%;
}
table th {
  text-align: right;
}
table td {
  text-align: left;
  color: var(--color-text-secondary);
}
